{% extends "layout.html" %}
{% block contenido %}

{% for producto in info_carrito %}
    <div class="contenedor-producto-carrito-{{ producto.id }}">
        <img src="" alt="Imagen Producto">
        <h3 class="nombre">{{ producto.nombre }}</h3>
        <h4 class="descripcion">{{ producto.descripcion }}</h4>
        <p class="degloce-precio">${{ producto.precio }} x {{ producto.cantidad }}k</p>
        <button type='button' class="btnBorrar" onclick="eliminarProductoCarrito('{{ producto.id }}')">Eliminar</button>
    </div>
{% endfor %}

{% endblock contenido %}