{% extends "layout.html" %}
{% block contenido %}

<!-- Includes and scripts -->
{% include 'modal-producto.html' %}
{% include 'modal-carrito.html' %}
<script src="../static/js/home.js"></script>

<h1>Frutiagricola</h1>

<div id="cart" class="cart">
    <a href="javascript:void(0);" onclick="mostrarCarrito()">
        <div class="avatar avatar-lg">
            <span class="avatar-title rounded bg-dark color-btns color-txt">
                <i class="fas fa-shopping-cart fa-lg"></i>
                {% if cantidad_productos_carrito == 0 %}
                <span class="item_cart_number"></span>
                {% else %}
                <span class="item_cart_number">({{ cantidad_productos_carrito }})</span>
                {% endif %}
            </span>
        </div>
    </a>
</div>

<div class="contenedor-productos">
    {% for producto in productos %}
    <div class="contenedor-producto-{{ producto.nombre }}">
        <h2 class=""> {{ producto.nombre }} </h2>
        <div class="imagen-producto">
            <img src="{{ url_for('static',filename=producto.img) }}" alt="Imagen producto">
        </div>
        <p> {{ producto.descripcion }} </p>
        <h3 class=""> ARS${{ producto.precio }} </h2>
            <div class="contenedor-botonera-{{ producto.nombre }}">
                <button class="btn btn-primary" onclick="mostrarDetallesProducto('{{ producto.id }}')">Ver
                    detalles</button>
            </div>
    </div>
    {% endfor %}
</div>

<div class="content-section">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.nombre_apellido.label(class="form-control-label") }}
                {{ form.nombre_apellido(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.numero_whatsapp.label(class="form-control-label") }}
                {{ form.numero_whatsapp(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.localidad.label(class="form-control-label") }}
                {{ form.localidad(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.direccion.label(class="form-control-label") }}
                {{ form.direccion(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.comentario.label(class="form-control-label") }}
                {{ form.comentario(class="form-control form-control-lg") }}
            </div>

            <div class="form-group m-t-20 col-lg-12 w-o-border">
                <div class="col-md-12  m-b-20 ml-auto ">
                    <div class="row">
                        <div class="col-md-12 catalog-items">
                            <div class="text-overline opacity-75 text-center m-b-10">DETALLE</div>
                            <div class="table-responsive">
                                <table class="table table-hover ">
                                    <thead>
                                        <tr>
                                            <th class="text-items-header">Descripción</th>
                                            <th class="text-items-header"
                                                style="text-align: right !important;">Cant. Prod.</th>
                                            <th class="text-items-header"
                                                style="text-align: right !important;">Total (ARS$)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-items "><a href="javascript:void(0);">
                                                <b id="descripcion" onclick="mostrarCarrito()">Unidades en carrito(0)</b>
                                            </a></td>
                                            <td align="right" class="text-items"><b id="cantidad-productos">0</b></td>
                                            <td align="right" class="text-items"><b id="importe-final">0 ARS</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="p-all-15">
                    <div class="row">
                        <div class="col-md-12 my-2 m-md-0">
                            <div class="text-overline opacity-75 text-center">Total de tu orden</div>
                            <h3 class="m-0 text-center" id="importe-final-restalado">ARS$ 1.500</h3>
                        </div>
                    </div>
                </div>
 

            <div class="form-group text-center">
                {{ form.submit(class="btn btn-outline-info m-b-15 ml-2 mr-2 btn-lg color-btns color-txt") }}
            </div>
        </fieldset>
    </form>
</div>

{% endblock contenido %}