<div class="modal" id="productoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="modal-title">Información del Producto</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p id="modal-id">0</p>
                <img src="" alt="imagen producto" id="modal-img">
                <p id="modal-description">Descripción del producto:</p>
                <p id="modal-price">Precio: $0.00</p>
                <form id="cantidad-form">
                    <div class="form-group">
                        <label for="cantidad">Cantidad:</label>
                        <input type="text" class="form-control" id="cantidad" name="cantidad">
                    </div>
                    <button id="modal-button" class="btn btn-primary">Agregar</button>
                </form>
            </div>

            <!-- Modal footer -->
        </div>
    </div>
</div>