<!-- Modal Header -->
<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ producto.nombre }}</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
<img src="static/{{ producto.img }}" alt="imagen producto" id="modal-img">
<p id="modal-description">1 kilo {{ producto.descripcion }}</p>
<h2 id="modal-price">$ARS {{ producto.precio }}</h2>
<form id="cantidad-form" onsubmit="agregarProductoCarrito(event, '{{producto.id}}')">
    <div class="form-group">
        <label for="cantidad">Cantidad:</label>
        <input type="number" class="form-control" id="cantidad" name="cantidad" min="1" max="100" value="1">
    </div>
    <button id="modal-button" class="btn btn-primary">Agregar</button>
</form>
</div>

